# FPGA 핀 매핑 A2

# PIC에서 FPGA로 전달되는 10비트 데이터 (DS_1 ~ DS_10)
NET "pic_data[0]" LOC = "D7"; 
NET "pic_data[1]" LOC = "D8"; 
NET "pic_data[2]" LOC = "D10";
NET "pic_data[3]" LOC = "B4"; 
NET "pic_data[4]" LOC = "B5"; 
NET "pic_data[5]" LOC = "B6"; 
NET "pic_data[6]" LOC = "A7"; 
NET "pic_data[7]" LOC = "A8"; 
NET "pic_data[8]" LOC = "B10";
NET "pic_data[9]" LOC = "B11";

# PIC TX 신호 (FPGA가 수신)
NET "rx" LOC = "A13"; 

# FPGA TX 신호 (PIC로 응답 전송)
NET "tx" LOC = "A12"; 

# SPI 신호 (MCP4921 DAC 제어)
NET "cs_n" LOC = "E7"; 
NET "sck" LOC = "D6";   
NET "mosi" LOC = "D5"; 

# 클럭 신호 (CLK)
NET "clk" LOC = "D9";  

# 리셋 신호 (RST)
NET "rst" LOC = "E6"; 

# 테스트 핀
NET "test_pin1" LOC = "C5"; 
NET "test_pin2" LOC = "C6"; 
NET "test_pin3" LOC = "C7"; 
NET "test_pin4" LOC = "C8"; 
